.table-skeleton {
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    min-width: 600px;
  }

  .skeleton-header-row {
    position: relative;

    th {
      padding: 0;
      border-bottom: none !important;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 55.5px;
      display: block;
      left: 0;
      right: 0;
      background-color: #e0e0e0;
      border-radius: 4px;
      margin-bottom: 1px;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }

  .skeleton-row {
    position: relative;
    width: 100%;

    @media (min-width: 600px) {
      width: 600px;
    }

    td {
      padding: 0;
      border-bottom: none !important;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 58px;
      left: 0;
      right: 0;
      display: block;
      background-color: #e0e0e0;
      border-radius: 4px;
      top: 1px;
      animation: pulse 1.5s infinite ease-in-out;
    }
  }
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
