@use 'styles/index' as *;

.location-list {
  padding: 0;
  min-height: 0;
  height: 400px;
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: $radius-sm;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .location-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-sm;

    border-radius: $radius-md;
    margin: $spacing-xxs 0;
    padding: $spacing-xs $spacing-normal;
    transition: background-color 0.2s ease, transform 0.1s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &.selected {
      background-color: $color-location-background;
      font-weight: 500;

      mat-icon {
        color: $color-primary-dark;
      }
    }

    mat-icon {
      font-size: $font-size-md;
      color: rgba(0, 0, 0, 0.54);
    }

    h4 {
      font-size: $font-size-base;
      margin: 0;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      gap: $spacing-md;
      align-items: center;
    }
  }
}
