@use 'styles/index' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-xs;
  margin-top: $spacing-normal;

  &__button {
    min-width: 40px;

    &--active {
      font-weight: $font-weight-bold;
      border-bottom: 2px solid $color-pagination-button;
    }
  }
}