<section class="chart-table-wrapper">
  <div class="chart-table-row">
    <mat-card class="chart-container">
      @if (chartData$ | async; as chartData) {
      <awa-chart [chartData]="chartData" [chartOptions]="chartOptions" />
      } @else {
      <awa-chart-skeletons />
      }
    </mat-card>

    <mat-card class="table-container">
      @if (tableData$ | async; as tableData) {
      <awa-data-table [data]="tableData" [displayedColumns]="displayedColumns" [isClickable]="false" />
      } @else {
      <awa-data-table-skeleton [rowsLength]="6" [columns]="displayedColumns" />
      }
    </mat-card>
  </div>
</section>
