<mat-card class="chart-table-wrapper">
  <h2 class="section-title">📊 Satni pregled podataka</h2>

  <div class="chart-table-row">
    <div class="chart-container">
      @if (chartData$ | async; as chartData) {
      <awa-chart [chartData]="chartData" [chartOptions]="chartOptions" />
      } @else {
      <awa-chart-skeletons />
      }
    </div>

    <div class="table-container">
      @if (tableData$ | async; as tableData) {
      <awa-data-table [data]="tableData" [displayedColumns]="displayedColumns" />
      } @else {
      <awa-data-table-skeleton [rowsLength]="6" [columns]="displayedColumns" />
      }
    </div>
  </div>
</mat-card>
