.section-title {
  margin-bottom: 16px;
}

.chart-table-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1rem;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  max-height: 600px;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
  border-radius: 20px;
  width: 100%;
}

.table-container {
  flex: 1;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 2rem;
  overflow-x: scroll;
  width: 100%;

  @media (min-width: 548px) {
    overflow-x: unset;
  }
}
