@use 'styles/index' as *;

.map-locations {
  display: flex;
  flex-direction: column;
  gap: $spacing-normal;
  padding: $spacing-normal;
  flex: 1;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__card {
    flex: 1;
    padding: $spacing-normal;
    border-radius: $radius-xl;
    box-shadow: $shadow-elevation-medium;

    &--map {
      padding: 0;
      flex: 2;
      min-height: 400px;

      ::ng-deep .leaflet-container {
        border-radius: $radius-md;
        height: 100%;
        width: 100%;
      }
    }

    &--locations {
      height: 400px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0;
    }
  }
}
