<div class="map-locations">
  @if (selectedLocation | async; as selected) { @if (locations | async; as locs)
  {
  <mat-card class="map-locations__card map-locations__card--map">
    <awa-map-widget [location]="selected" />
  </mat-card>

  <mat-card class="map-locations__card map-locations__card--locations">
    <awa-location-list
      [locations]="locs"
      [selectedLocation]="selected"
      (selectLocation)="onLocationSelect($event)"
    />
  </mat-card>
  } } @else {
  <mat-card class="map-locations__card map-locations__card--map">
    <awa-map-widget-skeletons />
  </mat-card>

  <mat-card class="map-locations__card map-locations__card--locations">
    <awa-location-list-skeletons />
  </mat-card>
  }
</div>
