<div class="skeleton skeleton-title"></div>
<div class="skeleton skeleton-img-large"></div>
<div class="skeleton-detail__info">
  <p><strong>ID:</strong> <span class="skeleton skeleton-text-short"></span></p>
  <p>
    <strong>Height:</strong> <span class="skeleton skeleton-text-short"></span>
  </p>
  <p>
    <strong>Weight:</strong> <span class="skeleton skeleton-text-short"></span>
  </p>
  <p>
    <strong>Types:</strong> <span class="skeleton skeleton-text-medium"></span>
  </p>
</div>
<div class="skeleton-detail__actions">
  <div class="skeleton skeleton-button"></div>
</div>
