<article class="pokemon-card">
  <div class="pokemon-card__sections">
    <div class="skeleton skeleton-img-large pokemon-card__image"></div>

    <div class="pokemon-card__wrapper">
      <div class="skeleton skeleton-title"></div>

      <div class="pokemon-card__info">
        <div class="pokemon-card__base">
          <mat-grid-list cols="2" rowHeight="2:1" gutterSize="12">
            <mat-grid-tile *repeat="4">
              <p>
                <span class="skeleton skeleton-text-short"></span>
                <span class="skeleton skeleton-text-medium"></span>
              </p>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div>
          <div class="pokemon-card__types">
            <p class="skeleton skeleton-text-short"></p>
            <ul>
              <li *repeat="2">
                <span class="skeleton skeleton-button"></span>
              </li>
            </ul>
          </div>

          <div class="pokemon-card__stats">
            <p class="skeleton skeleton-text-short"></p>
            <ul>
              <li *repeat="6">
                <span class="skeleton skeleton-button"></span>
              </li>
            </ul>
          </div>

          <div class="pokemon-card__actions skeleton-detail__actions">
            <div class="skeleton skeleton-button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
