$color-white: #ffffff;
$color-black: #000000;
$color-surface: #e0e0e0;
$color-surface-alt: #f0f0f0;
$color-border-light: #ccc;
$color-text-dark: #1e1e1e;
$color-text-inverse: #ffffff;

$color-primary-dark: #005dbb;
$color-info-light: lightblue;

$color-location-background: #e3f2fd;

$color-pagination-button: #3f51b5;

$shadow-elevation-medium: 0px 2px 8px rgba(0, 0, 0, 0.5);

$color-type-grass: #78c850;
$color-type-poison: #9f5b9f;
$color-type-fire: #f08030;
$color-type-water: #6890f0;
$color-type-flying: #a890f0;
$color-type-normal: #a8a878;
$color-type-ground: #e0c068;
$color-type-bug: #a8b820;
$color-type-ghost: magenta;
$color-type-electric: red;
$color-type-psychic: yellow;
$color-type-rock: grey;
$color-type-fairy: pink;
$color-type-steel: darkgray;
$color-type-ice: lightgrey;
