$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-boldest: 800;
