@use 'styles/index' as *;

table {
  width: 100%;
  font-size: $font-size-sm;

  th {
    font-weight: $font-weight-bold;
  }

  .clickable-row {
    cursor: pointer;

    &:hover {
      background-color: $color-surface-alt;
    }
  }
}
