@use 'styles/index' as *;

.table-responsive {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 600px;
    font-size: $font-size-sm;

    th {
      font-weight: $font-weight-bold;
      white-space: nowrap;
    }

    td {
      white-space: nowrap;
    }

    .clickable-row {
      cursor: pointer;

      &:hover {
        background-color: $color-surface-alt;
      }
    }
  }
}
