@use 'styles/index' as *;

:host {
  height: 400px;
  width: 100%;
  background-color: $color-surface;
  border-radius: $radius-sm;
  display: inline-block;
  animation: pulse 1.5s infinite ease-in-out;
}
