.pokemon-page {
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

  @media (max-width: 768px) {
    width: 100%;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: calc(100vh - 200px);
    background-image: url("../../../../public/assets/bg-green-2x-optim.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  &__table {
    width: 100%;

    @media (max-width: 600px) {
      overflow-x: auto;
      display: block;

      mat-header-cell,
      mat-cell {
        white-space: nowrap;
      }
    }
  }

  &__table-header {
    font-weight: bold;
  }

  &__table-cell {
    vertical-align: middle;
  }

  &__image {
    border-radius: 4px;
  }
}
