<section class="pokemon-page-center">
  <mat-card class="pokemon-page">
    @if (pokemons$ | async; as pokemons) {
    <awa-data-table
      [data]="pokemons"
      [displayedColumns]="displayedColumns"
      (rowClick)="goToPokemonDetails($event.name)"
      [isClickable]="true"
    />

    <div class="pokemon-page__pagination">
      <awa-pagination
        (pageChange)="loadNextPokemonBatch($event)"
      ></awa-pagination>
    </div>
    } @else {
    <awa-data-table-skeleton [rowsLength]="10" [columns]="displayedColumns" />
    <awa-pagination-skeletons />
    }
  </mat-card>
</section>
