@use 'styles/index' as *;

.pokemon-page {
  padding: 1rem;
  box-shadow: $shadow-elevation-medium;

  @media (max-width: 768px) {
    width: 100%;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-xxl;
    min-height: calc(100vh - 200px);
    background-image: url("../../../../public/assets/bg-green-2x-optim.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: $font-size-xl;
    margin-bottom: $spacing-normal;
  }

  &__table {
    width: 100%;

    @media (max-width: 600px) {
      overflow-x: auto;
      display: block;

      mat-header-cell,
      mat-cell {
        white-space: nowrap;
      }
    }
  }

  &__table-header {
    font-weight: $font-weight-bold;
  }

  &__table-cell {
    vertical-align: middle;
  }

  &__image {
    border-radius: $radius-sm;
  }
}
