@use 'styles/index' as *;

.pagination-skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-xs;
  margin-top: $spacing-normal;

  &__button {
    min-width: 40px;

    &--active {
      font-weight: $font-weight-bold;
      border-bottom: 2px solid $color-pagination-button;
    }
  }

  .skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: $radius-sm;
    display: inline-block;

    &-text {
      width: 2.5rem;
      height: 1.2rem;

      &--button {
        margin: auto;
      }
    }

    &-circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    &-button {
      &--numbers {
        width: 56px !important;
        min-width: 56px !important;
        max-width: 56px !important;
        flex: 0 0 auto;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: $color-surface;
  }
  50% {
    background-color: $color-surface-alt;
  }
  100% {
    background-color: $color-surface;
  }
}
