@use 'styles/index' as *;

.location-list-skeleton {
  margin-top: $spacing-xxs;
  padding-bottom: $spacing-xxs;
  background-color: $color-surface;
  border-radius: 0;
  animation: pulse 1.5s infinite ease-in-out;

  .skeleton-text {
    height: 20px;
    width: 70%;
  }
}
