@use 'styles/index' as *;

.pokemon-card {
  background: none;
  box-shadow: none;

  &__title {
    font-size: $font-size-xl;
    margin-top: 0;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-surface;
    border-radius: $spacing-md;
    padding: $spacing-md;
    box-shadow: $shadow-elevation-medium;
  }

  &__sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: $spacing-lg;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: $color-surface;
    border-radius: $spacing-md;
    box-shadow: $shadow-elevation-medium;

    @media (min-width: 768px) {
      width: 300px;
      height: auto;
    }
  }

  &__base {
    width: 100%;

    @media (min-width: 768px) {
      height: 200px;
      width: 400px;
    }

    mat-grid-list {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    mat-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @media (min-width: 768px) {
        display: none;
      }

      &-item {
        height: auto;
        background: $color-info-light;
        border: 1px solid $color-primary-dark;
        border-radius: $spacing-md;
      }
    }

    mat-grid-tile {
      background: $color-info-light;
      border: 1px solid $color-primary-dark;
      border-radius: $spacing-md;
    }

    p {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    span:first-of-type {
      font-weight: $font-weight-boldest;
      font-size: $font-size-md;
      margin-bottom: $spacing-sm;
      color: $color-text-inverse;
    }

    span:not(:first-of-type) {
      font-weight: $font-weight-semibold;
    }
  }

  &__types {
    p {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      flex-wrap: wrap;
      font-weight: $font-weight-semibold;
      font-size: $font-size-md;
      margin-top: 0;
    }
  }

  &__type {
    width: fit-content;
    padding: $spacing-xs $spacing-sm;
    border-radius: 10px;
    margin: $spacing-xs;
    color: $color-text-inverse !important;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &.type--grass {
      background-color: $color-type-grass;
    }
    &.type--poison {
      background-color: $color-type-poison;
    }
    &.type--fire {
      background-color: $color-type-fire;
    }
    &.type--water {
      background-color: $color-type-water;
    }
    &.type--flying {
      background-color: $color-type-flying;
    }
    &.type--normal {
      background-color: $color-type-normal;
    }
    &.type--ground {
      background-color: $color-type-ground;
    }
    &.type--bug {
      background-color: $color-type-bug;
    }
    &.type--ghost {
      background-color: $color-type-ghost;
    }
    &.type--electric {
      background-color: $color-type-electric;
    }
    &.type--psychic {
      background-color: $color-type-psychic;
    }
    &.type--rock {
      background-color: $color-type-rock;
    }
    &.type--fighting {
      background-color: $color-type-rock;
    }
    &.type--fairy {
      background-color: $color-type-fairy;
    }
    &.type--steel {
      background-color: $color-type-steel;
    }
    &.type--ice {
      background-color: $color-type-ice;
    }
  }

  &__stats {
    margin-top: $spacing-xxl;

    p {
      font-weight: $font-weight-semibold;
      font-size: $font-size-md;
      margin-top: 0;
    }

    ul {
      max-width: 400px;
    }

    .pokemon-card__stat {
      width: fit-content;
      padding: $spacing-xs $spacing-sm;
      margin: $spacing-xs;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      background-color: $color-primary-dark;
      border: 1px solid $color-info-light;
    }
  }

  &__actions {
    ::ng-deep .mdc-button,
    .mat-mdc-button {
      min-width: 100% !important;

      @media (min-width: 768px) {
        position: absolute;
        top: $spacing-md;
        right: $spacing-md;
        min-width: unset !important;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: $spacing-xxs;
    flex-wrap: wrap;
  }
}

::ng-deep .white-chip {
  background-color: $color-white !important;
  color: $color-text-dark !important;
  font-weight: $font-weight-bold;
  border-radius: 12px;
  border: 1px solid $color-border-light;
  padding: $spacing-xs $spacing-sm;
}

:host {
  width: 100%;
}
