.pokemon-card {
  background: none;
  box-shadow: none;

  &__title {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  }

  &__sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    @media (min-width: 768px) {
      width: 300px;
      height: auto;
    }
  }

  &__base {
    height: 200px;
    width: 400px;

    mat-grid-tile {
      background: lightblue;
      border: 1px solid #005dbb;
      border-radius: 20px;
    }

    p {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    span:first-of-type {
      font-weight: 800;
      font-size: 20px;
      margin-bottom: 12px;
      color: white;
    }

    span:not(:first-of-type) {
      font-weight: 600;
    }
  }

  &__types {
    p {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex-wrap: wrap;
      font-weight: 600;
      font-size: 20px;
      margin-top: 0;
    }
  }

  &__type {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    margin: 0.25rem;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;

    &.type--grass {
      background-color: #78c850;
    }
    &.type--poison {
      background-color: #9f5b9f;
    }
    &.type--fire {
      background-color: #f08030;
    }
    &.type--water {
      background-color: #6890f0;
    }
    &.type--flying {
      background-color: #a890f0;
    }
    &.type--normal {
      background-color: #a8a878;
    }
    &.type--ground {
      background-color: #e0c068;
    }
    &.type--bug {
      background-color: #a8b820;
    }
    &.type--ghost {
      background-color: magenta;
    }
    &.type--electric {
      background-color: red;
    }
    &.type--psychic {
      background-color: yellow;
    }
    &.type--rock {
      background-color: grey;
    }
    &.type--fighting {
      background-color: grey;
    }
    &.type--fairy {
      background-color: pink;
    }
    &.type--steel {
      background-color: darkgray;
    }
    &.type--ice {
      background-color: lightgrey;
    }
  }

  &__stats {
    margin-top: 32px;

    p {
      font-weight: 600;
      font-size: 20px;
      margin-top: 0;
    }

    ul {
      max-width: 400px;
    }

    .pokemon-card__stat {
      width: fit-content;
      padding: 0.25rem 0.75rem;
      margin: 0.25rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #005dbb;
      border: 1px solid lightblue;
    }
  }

  &__actions {
    @media (min-width: 768px) {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
}

::ng-deep .white-chip {
  background-color: white !important;
  color: #1e1e1e !important;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 4px 10px;
}
