.pokemon-card {
  background: none;
  box-shadow: none;

  &__title {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  }

  &__sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);

    @media (min-width: 768px) {
      width: 300px;
    }
  }

  &__base {
    height: 200px;
    width: 400px;
    flex: 0 0 auto;

    mat-grid-tile {
      border-radius: 20px;
      background-color: #e0e0e0;
      animation: pulse 1.6s infinite ease-in-out;
    }

    p {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  &__types {
    width: 400px;
    flex: 0 0 auto;

    p {
      display: flex;
      flex-direction: column;
      gap: 12px;
      flex-wrap: wrap;
      font-weight: 600;
      font-size: 20px;
      margin-top: 0;
    }
  }

  &__type {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    margin: 0.25rem;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__stats {
    margin-top: 32px;

    p {
      font-weight: 600;
      font-size: 20px;
      margin-top: 0;
    }

    ul {
      max-width: 400px;
      height: 162px;
    }

    .pokemon-card__stat {
      width: fit-content;
      padding: 0.25rem 0.75rem;
      margin: 0.25rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #005dbb;
      border: 1px solid lightblue;
    }
  }

  &__actions {
    @media (min-width: 768px) {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
}

::ng-deep .white-chip {
  background-color: white !important;
  color: #1e1e1e !important;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 4px 10px;
}

.skeleton {
  display: inline-block;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.6s infinite ease-in-out;
}

.skeleton-title {
  margin-top: 0;
  margin-bottom: 28px;
  height: 33px;
}

.skeleton-img-large {
  width: 100%;
  height: 400px !important;
  border-radius: 8px;

  @media (min-width: 768px) {
    width: 300px;
    height: auto !important;
  }
}

.skeleton-detail__actions {
  height: 40px;

  @media (min-width: 768px) {
    height: 0;
    display: none;
  }
}

.skeleton-detail__info {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  p {
    margin: 0;
  }
}

.skeleton-button {
  width: fit-content;
  min-width: 80px;
  height: 48px;
  padding: 0 12px;
  display: inline-block;
  border-radius: 16px;
}

.skeleton-text-medium {
  width: 50%;
  height: 16px;
}

.skeleton-text-short {
  width: 40%;
  height: 20px;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
