@use 'styles/index' as *;

.table-skeleton {
  margin-bottom: $spacing-normal;
  width: 100%;

  @media (min-width: 768px) {
    width: 600px;
  }

  .skeleton-header-row, .skeleton-row {
    display: table-row;
    height: 56.5px;
    background-color: $color-surface;
    border-radius: $radius-sm;
    animation: pulse 1.5s infinite ease-in-out;

    th {
      padding: 0;
      border-bottom: none !important;
    }

    td {
      padding: 0;
      border-bottom: none !important;
    }

    &::before {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
