<table mat-table [dataSource]="rows" class="mat-elevation-z8 table-skeleton">
  <ng-container *repeat="columns.length; let i = index" [matColumnDef]="columns[i].columnDef">
    <th mat-header-cell *matHeaderCellDef>
      <div class="skeleton skeleton-text"></div>
    </th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnIds" class="skeleton-header-row"></tr>
  <tr mat-row *matRowDef="let row; columns: columnIds" class="skeleton-row"></tr>
</table>
